<style>
    table.test-table {
      width: 100%;
      border-collapse: separate;
      font-size: 14px;
    }
    table.test-table th,
    table.test-table td {
      border: 1px solid #ccc;
      padding: 6px;
      text-align: center;
    }
</style>

<section class="hero">
    <span>Test05 Location</span><h1>Test05 Location</h1>
    <h1>Test05 Location</h1><h1>Test05 Location</h1>
    
</section>

<table class="test-table">
    <tr>
      <th>PO Date</th><th>PO No</th><th>Style</th><th>PCS</th><th>Price</th>
    </tr>
    <tr>
        <td>test td 01</td>
        <td>test td 02</td>
    </tr>
 <table>


